<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ReseauSocialE2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AcceuilServlet</display-name>
    <servlet-name>AcceuilServlet</servlet-name>
    <servlet-class>LoginPackage.AcceuilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilServlet</servlet-name>
    <url-pattern>/AcceuilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualiteServlet</display-name>
    <servlet-name>ActualiteServlet</servlet-name>
    <servlet-class>LoginPackage.ActualiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualiteServlet</servlet-name>
    <url-pattern>/ActualiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePublicationServlet</display-name>
    <servlet-name>CreatePublicationServlet</servlet-name>
    <servlet-class>LoginPackage.CreatePublicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePublicationServlet</servlet-name>
    <url-pattern>/CreatePublicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginPackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilServlet</display-name>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>LoginPackage.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/ProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheServlet</display-name>
    <servlet-name>RechercheServlet</servlet-name>
    <servlet-class>LoginPackage.RechercheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheServlet</servlet-name>
    <url-pattern>/RechercheServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>OtherProfilServlet</display-name>
    <servlet-name>OtherProfilServlet</servlet-name>
    <servlet-class>LoginPackage.OtherProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherProfilServlet</servlet-name>
    <url-pattern>/OtherProfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderPublicationServlet</display-name>
    <servlet-name>OrderPublicationServlet</servlet-name>
    <servlet-class>LoginPackage.OrderPublicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPublicationServlet</servlet-name>
    <url-pattern>/OrderPublicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendDataJsServlet</display-name>
    <servlet-name>sendDataJsServlet</servlet-name>
    <servlet-class>WebInfServlet.sendDataJsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendDataJsServlet</servlet-name>
    <url-pattern>/sendDataJsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowButtonServlet</display-name>
    <servlet-name>FollowButtonServlet</servlet-name>
    <servlet-class>WebInfServlet.FollowButtonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowButtonServlet</servlet-name>
    <url-pattern>/FollowButtonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommenterServlet</display-name>
    <servlet-name>AddCommenterServlet</servlet-name>
    <servlet-class>NewPackage.AddCommenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommenterServlet</servlet-name>
    <url-pattern>/AddCommenterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikePublicationServlet</display-name>
    <servlet-name>LikePublicationServlet</servlet-name>
    <servlet-class>NewPackage.LikePublicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePublicationServlet</servlet-name>
    <url-pattern>/LikePublicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfilServlet</display-name>
    <servlet-name>EditProfilServlet</servlet-name>
    <servlet-class>LoginPackage.EditProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfilServlet</servlet-name>
    <url-pattern>/EditProfilServlet</url-pattern>
  </servlet-mapping>
</web-app>